html, body {
  height:100%;
  background: url('../img/bg.jpg') no-repeat;
  background-size: 100%;
}

.white-card {
  background-color: white;
}

.brand-logo img {
	height: 60px;
    margin-top: 20px;
}
#nav-mobile a {
  font-size: 1.1rem;
}
nav {
  background-color: #16475F;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
    line-height: 100px;
  }

label {
    width: 100%;
}

nav ul a:hover {
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid #88D3E8;
    margin-top: -2px;
}

.fixed-action-btn ul {
    bottom: -264px;
    text-align: left;
    width: 200px;
}
.menu-icons {
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.side-nav li {
  color:white;
}
.side-nav.fixed a {
  font-size: 0.9rem;
  font-weight: bold;
  color: #757575;
}
.side-nav.fixed {
    top: inherit;
}
.toast-red {
  background-color: #bf360c;
}
.side-nav .collapsible-body li a {
    font-weight: normal;
}
.side-nav .collapsible-body li {
  background-color: #fafafa;
}
.side-nav .collapsible-body li:hover {
  background-color: #c8e6c9;
}
.side-nav.fixed a.side-profile {
  margin-left: 5px;
}
.profile-zeny {
  font-size: 20px;
  font-weight: bold; 
}
.fixed1 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 12%;
}
.fixed2 {

}
.copyright {
  height: 60px;
  background-color: #16475F;
}
.copyright p {
  padding: 20px;
}
