.white-card {
  background-color: white;
}

.logo {

}
#nav-mobile a {
  font-size: 1.3rem;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
    line-height: 100px;
  }

label {
    width: 100%;
}
