html, body {
  height: 100%;
  background: url("../img/bg.jpg") no-repeat;
  background-size: 100%; }

.white-card {
  background-color: white; }

.brand-logo img {
  height: 60px;
  margin-top: 20px; }

#nav-mobile a {
  font-size: 1.1rem; }

nav {
  background-color: #16475F; }
  nav ul a {
    padding: 0 11px; }

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 100px;
  line-height: 100px; }

label {
  width: 100%; }

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #88D3E8;
  margin-top: -2px; }

.fixed-action-btn ul {
  bottom: -264px;
  text-align: left;
  width: 200px; }

.menu-icons {
  position: relative;
  top: 5px;
  margin-right: 10px; }

.side-nav li {
  color: white; }

.side-nav.fixed a {
  font-size: 0.9rem;
  font-weight: bold;
  color: #757575; }

.side-nav.fixed {
  top: inherit; }

.toast-red {
  background-color: #bf360c; }

.side-nav .collapsible-body li a {
  font-weight: normal; }

.side-nav .collapsible-body li {
  background-color: #fafafa; }

.side-nav .collapsible-body li:hover {
  background-color: #c8e6c9; }

.side-nav.fixed a.side-profile {
  margin-left: 5px; }

.profile-zeny {
  font-size: 20px;
  font-weight: bold; }

.fixed1 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 12%; }

.footer {
  margin-bottom: 0; }

.copyright {
  position: relative;
  z-index: 995; }

.preloader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 996; }

.slides {
  height: 360px !important;
  margin-top: 8px !important; }

.slider {
  height: 400px !important; }

.arrows {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 20px; }

.ratemyserver img {
  border-radius: 6px;
  margin-left: 20px; }

.footer-buttons {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.server-status {
  min-width: 65px;
  position: fixed;
  padding: 8px;
  display: block;
  top: 20%;
  right: 0;
  border-left: 6px #00c853 solid;
  text-align: center; }
  .server-status span {
    font-weight: bold; }

.server-woe {
  min-width: 65px;
  position: fixed;
  padding: 8px;
  padding-bottom: 0;
  display: block;
  top: 39%;
  right: 0;
  border-left: 6px #00c853 solid;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 300; }
  .server-woe .woe-schedule {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: all 1s ease-in-out; }
  .server-woe table {
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0; }
  .server-woe span {
    font-weight: bold; }
  .server-woe a {
    color: #616161; }
  .server-woe .emperium {
    display: none; }
  .server-woe:hover .emperium {
    display: block;
    margin: 0 auto; }
  .server-woe:hover .woe-schedule {
    max-height: 999px;
    max-width: 999px; }
  .server-woe:hover table {
    visibility: visible;
    opacity: 1; }

.pvp-widget {
  min-width: 65px;
  position: fixed;
  padding: 8px;
  padding-bottom: 0;
  display: block;
  top: 120px;
  left: 0;
  border-right: 6px #FF9438 solid;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 300; }
  .pvp-widget:hover {
    z-index: 302; }
  .pvp-widget .woe-schedule {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: all 1s ease-in-out; }
  .pvp-widget table {
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0; }
  .pvp-widget span {
    font-weight: bold; }
  .pvp-widget a {
    color: #616161; }
  .pvp-widget .emperium {
    display: none; }
  .pvp-widget:hover .emperium {
    display: block;
    margin: 0 auto; }
  .pvp-widget:hover .woe-schedule {
    max-height: 999px;
    max-width: 999px; }
  .pvp-widget:hover table {
    visibility: visible;
    opacity: 1; }

.server-time {
  min-width: 65px;
  position: fixed;
  padding: 8px;
  padding-bottom: 0;
  display: block;
  top: 20%;
  left: 0;
  border-right: 6px #2962ff solid;
  text-align: center; }
  .server-time span {
    font-weight: bold; }

.woe-link i {
  padding-top: 10px;
  font-size: 30px; }

.info {
  background-color: #fbe6ec;
  border-radius: 3px; }

.slider .slides li img {
  background-size: 100% 100%; }

/*# sourceMappingURL=style.css.map */
